useDynLib(rfsrs, .registration = TRUE)
export(fsrs_default_parameters)
export(fsrs_next_interval)
export(fsrs_initial_state)
export(fsrs_next_state)
export(fsrs_retrievability)
export(Rating)
export(State)
export(Card)
export(Card_from_json)
export(ReviewLog)
export(Scheduler)
export(Scheduler_from_json)
